@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    width: 100vw;  
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#display{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(7, 1fr);
    margin: 5rem auto 0 auto;
    max-width:fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#turnLabel{
    margin-bottom: 1rem;
    font-size: large;
    text-align: center;
    grid-column: 3/6;
    grid-row: 1;
    white-space: break-spaces;
    min-height:3rem;
}
#board1{
    grid-column: 3/6;
    grid-row: 2/5;
}
#roll1{
    grid-column: 7;
    grid-row: 4;
    max-width: fit-content;
    justify-self: left;
}
#score1{
    grid-column: 7;
    grid-row: 5;
}
#indicator10{
    grid-column: 3;
    grid-row: 5;
}
#indicator11{
    grid-column: 4;
    grid-row: 5;
}
#indicator12{
    grid-column: 5;
    grid-row: 5;
}
#board0{
    grid-column: 3/6;
    grid-row: 7/10;
}
#roll0{
    grid-column: 1;  
    grid-row: 7; 
    max-width: fit-content;
    justify-self: right;
}
#score0{
    grid-column: 1;
    grid-row: 6;
}
#indicator00{
    grid-column: 3;
    grid-row: 6;
}
#indicator01{
    grid-column: 4;
    grid-row: 6;
}
#indicator02{
    grid-column: 5;
    grid-row: 6;
}

.menu{
    grid-column: 1/8;
    grid-row: 1/10;
    display: flex;
    margin: auto;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.menu>h1{
    justify-self: flex-start;
}
.field{
    min-width: 28px;
    min-height: 28px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding:0.5rem;
}
.board{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
    width: 100%;
}

.board *{
    text-align: center;
}



.dice{
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display:grid;
    padding: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.dice1>.dot, .dice3>.dot:nth-child(2), .dice5>.dot:nth-child(3){
    grid-row: 2;
    grid-column: 2;
}
.dice2>.dot:nth-child(1), .dice3>.dot:nth-child(1), .dice4>.dot:nth-child(2), .dice5>.dot:nth-child(2), .dice6>.dot:nth-child(4){
    grid-column: 3;
}
.dice2>.dot:nth-child(2), .dice3>.dot:nth-child(3), .dice4>.dot:nth-child(3), .dice5>.dot:nth-child(4), .dice6>.dot:nth-child(3){
    grid-row: 3;
}
.dice4>.dot:nth-child(4), .dice5>.dot:nth-child(5), .dice6>.dot:nth-child(6){
    grid-row: 3;
    grid-column: 3;
}
.dice6>.dot:nth-child(2){
    grid-row: 2;
}
.dice6>.dot:nth-child(5){
    grid-row: 2;
    grid-column: 3;
}
.dice0{
    border:none;
}
.dot{
    width: 1px;
    height: 1px;
    background-color: black;
    border-radius: 100%;
    border-style: solid;
    box-sizing: content-box;
}